<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Ameya Bank Private Ltd.
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contact Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Help
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}} - Developed by
            <a target="_blank">Ameya Infovision Private Ltd.</a>
        </div>
    </div>
</footer>
