<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">account_balance</i>
            </div>
            <p class="card-category">Savings</p>
            <h3 class="card-title">$930</h3>
          </div>
          <div class="card-footer">
            <span class="text-info">Shares &amp; Deposits</span>
            <button
              mat-raised-button
              style="float: right"
              type="submit"
              class="btn btn-sm btn-info"
            >
              Open New Account
            </button>
          </div>

        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">real_estate_agent</i>
            </div>
            <p class="card-category">Borrowings</p>
            <h3 class="card-title">$8,690</h3>
          </div>
          <div class="card-footer">
            <span class="text-warning">Loans &amp; Overdrafts</span>
            <button
              mat-raised-button
              style="float: right"
              type="submit"
              class="btn btn-sm btn-warning"
            >
              Apply for Loan
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">account_balance_wallet</i>
            </div>
            <p class="card-category">My Wallet</p>
            <h3 class="card-title">$78</h3>
          </div>
          <div class="card-footer">
            <span class="text-primary">Use Wallet for online transactions</span>
            <button
              mat-raised-button
              style="float: right"
              type="submit"
              class="btn btn-sm btn-primary"
            >
              Add Money
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">volunteer_activism</i>
            </div>
            <p class="card-category">Loan Offer</p>
            <h3 class="card-title">Personal Loan</h3>
          </div>
          <div class="card-footer">
            <span class="text-success">Upto $25,000*</span>
            <button
              mat-raised-button
              style="float: right"
              type="submit"
              class="btn btn-sm btn-danger"
            >
              Check Offer
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card mb-5">
          <div class="card-header card-header-info">
            <span class="card-title">Accounts</span>
            <a
              mat-button
              class="nav-link"
              style="float: right"
              matTooltip="Open New Account"
            >
              <i class="material-icons">create_new_folder</i>
              <div class="ripple-container"></div>
            </a>
            <a
              mat-button
              class="nav-link"
              style="float: right"
              matTooltip="Link Account"
            >
              <i class="material-icons">add_link</i>
              <div class="ripple-container"></div>
            </a>
          </div>
          <div class="card-body table-responsive d-none d-md-block">
            <table class="table table-hover">
              <thead class="text-info">
                <th></th>
                <th>Account Name</th>
                <th>Account No.</th>
                <!-- <th></th> -->
                <th class="text-right">Balance</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let account of accounts; let i = index">
                  <td><i class="material-icons text-info">topic</i></td>
                  <td>{{ account.act_name }}</td>
                  <td>{{ account.act_no }}</td>
                  <!-- <td>
                    <span *ngIf="!account.act_linked">Own</span>
                    <span *ngIf="account.act_linked">Linked</span>
                  </td> -->
                  <td class="text-right">
                    <span class="text-success">{{
                      account.act_balance | currency
                    }}</span>
                  </td>
                  <td class="td-actions text-right">
                    <button
                      mat-raised-button
                      type="button"
                      matTooltip="View"
                      [matTooltipPosition]="'above'"
                      class="btn btn-primary btn-link btn-sm btn-just-icon"
                    >
                      <i class="material-icons">visibility</i>
                    </button>
                    <button
                      mat-raised-button
                      type="button"
                      matTooltip="Edit Account Name"
                      [matTooltipPosition]="'above'"
                      class="btn btn-primary btn-link btn-sm btn-just-icon px-4"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      mat-raised-button
                      type="button"
                      matTooltip="Remove"
                      [matTooltipPosition]="'above'"
                      class="btn btn-danger btn-link btn-sm btn-just-icon"
                    >
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-body table-responsive d-block d-md-none">
            <div class="row">
              <div
                class="col-lg-3 col-sm-4 px-3 py-3 text-center"
                *ngFor="let account of accounts; let i = index"
              >
                <span mat-button class="nav-link">
                  <i class="material-icons med text-primary">topic</i>
                </span>
                <span class="text-dark"
                  >{{ account.act_name }}<br /><small class="text-dark">{{
                    account.act_no
                  }}</small></span
                >
                <br /><button
                  mat-raised-button
                  type="submit"
                  class="btn btn-sm btn-primary"
                >
                  View Details
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-5">
          <div class="card-header card-header-success">
            <span class="card-title">Payees</span>
            <a
              mat-button
              class="nav-link active"
              style="float: right"
              matTooltip="Add Payee"
              data-toggle="tab"
            >
              <i class="material-icons">person_add</i>
              <div class="ripple-container"></div>
            </a>
          </div>
          <div class="card-body">
            <div class="row">
              <div
                class="col-lg-3 col-sm-4 px-3 py-3 text-center"
                *ngFor="let payee of payees; let i = index"
              >
                <span mat-button class="nav-link">
                  <i class="material-icons med text-success fs-1">person</i>
                </span>
                <span class="text-dark"
                  >{{ payee.pay_name }}<br /><small class="text-dark">{{
                    payee.pay_bank
                  }}</small></span
                >
                <br /><button
                  mat-raised-button
                  type="submit"
                  class="btn btn-sm btn-success"
                >
                  Send Money
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
            <span class="card-title">Billers</span>
            <a
              mat-button
              class="nav-link active"
              style="float: right"
              matTooltip="Add Biller"
              data-toggle="tab"
            >
              <i class="material-icons">add_circle</i>
              <div class="ripple-container"></div>
            </a>
          </div>
          <div class="card-body">
            <div class="row">
              <div
                class="col-lg-3 col-sm-4 px-3 py-3 text-center"
                *ngFor="let biller of billers; let i = index"
              >
                <span mat-button class="nav-link">
                  <i class="material-icons med text-danger fs-1">{{
                    biller.biller_icon
                  }}</i>
                </span>
                <span class="text-dark"
                  >{{ biller.biller_name }}<br /><small class="text-dark">{{
                    biller.biller_act_no
                  }}</small></span
                >
                <br /><button
                  mat-raised-button
                  type="submit"
                  class="btn btn-sm btn-danger"
                >
                  Pay Bill
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <span class="card-title">Recent 5 Transactions</span>
            <a
              mat-button
              class="nav-link active"
              style="float: right"
              matTooltip="Search Transaction"
              data-toggle="tab"
            >
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </a>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Date</th>
                <th>Particulars</th>
                <th class="text-right">Amount</th>
              </thead>
              <tbody>
                <tr *ngFor="let transaction of transactions; let i = index">
                  <td>
                    <span>{{ transaction.trn_date | date }}</span
                    >&nbsp;
                    <small>{{ transaction.trn_date | date : "h:mm a" }}</small>
                  </td>
                  <td>
                    <span>{{ transaction.trn_narration }}</span
                    >&nbsp;
                    <small>{{ transaction.trn_act_no }}</small>
                  </td>
                  <td class="text-right">
                    <span
                      [ngClass]="{
                        'text-success': transaction.trn_drcr === 'CR',
                        'text-danger': transaction.trn_drcr != 'CR'
                      }"
                      >{{ transaction.trn_amount | currency }}</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
